$main: #409eff; // 主色
$light: #07dbfa; // 次色
$yellow: #ff9b24; // 反色
$orange: #ffd200; // 反色
$white: #fff; // 白色

$headerHeight: 89px; // 头部高度

$loginBg: #2d3037;

//文字颜色
$gray-9: #999;
$gray-6: #666;
$gray-3: #333;
$black: #000;